# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc

# Swap files
*.swp

# General data file exclusions
*.txt
*.root
*.log
log*

# Specific file exclusion
# [relative/path/to/file]
/vim/bundle/*
/vim/.ycm_extra_conf.py
/vim/.netrwhist
/pylib/__pycache__/*
/.vscode/**

# Ignore contents of the custom-zsh by default
custom-zsh/*
# Specific file inclusion
!custom-zsh/personal_machine.sh
!custom-zsh/cmssw.sh
