extends texMathCustom 
extends texSlides


snippet SEP_COMMNET "Separator comment" b
`!p snip.rv = '%%-----'` ${1:Seperator name} `!p snip.rv = ' ' + '-'*(70-len(t[1]))`
endsnippet

snippet SECTION_COMMENT "code section comment" 
%------------------------------------------------------------------------------- 
%   ${1:Section comment}
%-------------------------------------------------------------------------------
endsnippet

