snippet use "use flag" b
<use name="$1" />$2
endsnippet

snippet class "class tags" b
<class name="$1" />$2
endsnippet

snippet export "export" b
<export><lib   name="1"/></export>
endsnippet

snippet CPP_FLAGS "cpp flags" b
<flags CXXFLAGS="$1"/>
endsnippet

snippet CPP_DEFINE "Definitions" b
<flags CPPDEFINES="$1"/>
endsnippet


